@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    font-family: "Open Sans", sans-serif;

}

body {
    max-width: 980px;
    margin: auto;
}

header {
    border-bottom: 3px solid black;
}

header .logo {
    font-family: 'Major Mono Display', monospace;
    font-size: 3rem;
    text-align: center;
    margin: 24px auto;
    font-weight: bold;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    padding: 1em;
    justify-content: space-around;

}

header .search,
header .contacts {
    margin-top: 2em;

}

form>div {
    display: flex;
    margin-bottom: 8px;
}

label {
    width: 150px;

}

form input[type=submit] {
    margin-left: 150px;
    margin-bottom: 8px;

}


footer {
    padding: 1em;
    background: #191717;
    color: #e2d7d7;
}

footer .copyright {
    padding: 1em 1em;
    padding-bottom: 0;
    color: darkcyan;
    text-align: center;
    margin-top: 1em;
}

footer .socials {
    display: flex;
    align-items: center;

}

footer .socials a {
    margin-left: 1em;

}

/*mobile version*/

@media (max-width: 990px) {

    .logo {
        margin: 24px 10px;
    }
}
